<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>
    {% block title %}

    {% endblock %}
  </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='assets/img/favicon_io/favicon-32x32.png' )}}" rel="icon">
  <link href="{{ url_for('static', filename='assets/img/favicon_io/apple-touch-icon.png' )}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='assets/vendor/aos/aos.css' )}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css' )}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css' )}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css' )}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css' )}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/remixicon/remixicon.css' )}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css' )}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Arsha - v4.7.1
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="{{ url_for('home_page') }}">Nagar Seva</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="base.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul >
          <li><a class="nav-link scrollto" href="{{ url_for('home_page') }}">Home</a></li>
          <li><a class="nav-link scrollto" href="home#about">About Us</a></li>
          <li><a class="nav-link scrollto" href="home#team">Team</a></li>
          <li><a class="getstarted active" href="{{ url_for('public_complaint_page') }}">Complaints</a></li>
          {% if logger=="True" %}
            <li><a class="getstarted" href="{{ url_for('logout_page') }}">Logout</a></li>
          {% else %}
            <li><a class="getstarted" href="{{ url_for('login_page') }}">Employee Login</a></li>
          {% endif %}
          
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <!-- .navbar -->
    </div>
    <div class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category,message in messages %}
                <div class="alert alert-{{category}}">
                    <button type="button" class="m1-2 mb-1 close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>
  </header><!-- End Header -->

  {% block content %}
    
  {% endblock %}

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-2 col-md-6 footer-contact">
            <a href="{{ url_for('home_page') }}"><img src="{{ url_for('static', filename='assets/img/nagar_seva_icon.png') }}" width="70%" height="50%" alt="" srcset=""></a>
          </div>
          <div class="col-lg-4 col-md-6 footer-contact">
            <h3>Nagar Seva</h3>
            <p>
              VIT Bhopal University <br>
              Bhopal-Indore Highway<br>
              Kothrikalan, Sehore<br>
              Madhya Pradesh – 466114<br><br>
              <strong>Email:</strong> info@nagar-seva.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('home_page') }}">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="home#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="home#team">Team Members</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('public_complaint_page') }}">Complaints</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{{ url_for('login_page') }}">Employee</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Github</h4>
            <p>The following are the links to the github repository of our project.</p>
            <div class="social-links mt-3">
              <div class="d-flex justify-content-center justify-content-lg-start row">
                <a href="https://github.com/vikashsngh43/Nagar-Seva"  target="_blank"  class="btn-get-started col text-center" style="margin-right: 10px;">Android App</a>
                <a href="https://github.com/skyHunter-18/nagar_seva"  target="_blank"  class="btn-get-started col text-center">Website</a>
              </div>
              <div class="d-flex justify-content-center justify-content-lg-start">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </footer>
  <!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='assets/vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/waypoints/noframework.waypoints.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

</body>

</html>